*.class 
*.war
*.ear
*.iml
.metadata
.recommenders
.idea
.settings
.classpath
.idea
.idea/
TO_BE_ARCHIVED
RemoteSystemsTempFiles
target
target/
*.iws
bin/
delivery/
targetdelivery/
temp/
*.log
*.bak
*.bin